# Fill your config
API_HASH = ""
BOT_TOKEN = ""
TELEGRAM_API = ""
OWNER = ""
OWNER_USERNAME = ""
PASSWORD = ""
DATABASE_URL = ""
LOGCHANNEL = ""   # Add channel id as: "-100 + Actual_ID"
USER_SESSION_STRING = "" # Premium account session string to upload upto 4GB (requires "LOGCHANNEL")

# tired of redeploying :(
UPSTREAM_REPO = "https://github.com/yashoswalyo/MERGE-BOT"
UPSTREAM_BRANCH = "master"
